.login-page{

    .login-component{
        position: relative;
    }

    .header{
        width: 80%;
        position: absolute;
        //padding: 2rem;
        top:3%;
        left:10%;
        z-index: 3;
    }
}
