@import '../../../_utilities/variables';

.social-media{
    display: block;
    height: 30px;
    width: 30px;

    i{
        border: 2px solid $light-gray;
        padding: 0.5rem;
        margin: 0.1rem;
        width: 22px;
        border-radius: 4px;
        text-align: center;
    }
}