@import '../../../_utilities/variables';

.instructions{
    display: flex;
    background: black;
    padding: 8rem 7rem 8rem 7rem;

    .instructions-left{
        flex: 1;
        h5{
            color: white;
            font-size: 1.5rem;
            line-height: 0;
            font-weight: 500;
            padding-top: 1rem;
        }

        h2{
            margin:10px 0;
            padding-bottom: 5rem;
            font-size: 3.5rem;
            color:$red;
            line-height: 0;
        }

        q{
            color: $white;
            font-size: 1rem;
            line-height: 0.2;
            padding-bottom: 2rem;
        }
        
        q:before{
            color: $red;
            font-size: 5rem;
            line-clamp: 0;
            content: open-quote ;
            font-family: Arial, Helvetica, sans-serif;

        }
        q:after{
            content: none;
        }

        .credited-to{
            display: flex;
            justify-content: center;
            align-items: center;
            .author-image{
                flex:1;
                
                .circular{
                    background-color: aqua;
                    height: 40px;
                    width: 40px;;
                    border-radius: 50%;
                    background-image: url(../../../assets/images/peter-ashade.jpg);
                    //background-size: contain;
                    // background-position: center;
                    background-repeat: no-repeat;
                }
                
            }
            .author-name{
                flex: 2;
                color: white;

                p{
                    font-weight: 500;
                }
                h6{
                    color: $light-gray;
                    line-height: 0;
                }
            }
        }
    }

    .instructions-right{
        flex: 1;
        margin: 2rem  2rem;

        video{
            background-image: url('../../../assets/images/woman-drinking-tea.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            position: relative;
        }
        .play-video{
           height: 100px;
           width: 100px;
           padding: 2rem;
           border-radius: 50%;
           border: 2px solid $white;
           position: absolute;
           top: 30%;
           left: 60%;

           .circle{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background: $white;
           }
        }
        .play-video:hover{
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            cursor: pointer;
            background-color: aliceblue;
        }
        h5,h2{
            color: white;
            font-size: 1rem;
            line-height: 0;
            font-weight: 500;
        }
        h2{
           color: rgb(215, 224, 222); 
        }
    }
}

.centeralize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}