@import '../../../_utilities/variables';

.instructions{
    display: flex;
    background: black;
    padding: 8rem;
    height: 100vh;

    .instructions-left{
        flex: 1;
        h5{
            color: white;
            font-size: 1.5rem;
            line-height: 0;
            font-weight: 500;
            padding-top: 1rem;
        }

        h2{
            margin:10px 0;
            padding-bottom: 2.5rem;
            font-size: 3.5rem;
            color:$red;
            line-height: 0;
        }

        q{
            color: $red;
            font-size: 5rem;
            font-family: Arial, Helvetica, sans-serif;

            p{
                color: $white;
                font-size: 1rem;
                padding-left: 2rem;
                font-family: inherit;

            }
        }
        q:before{
            content: open-quote;
        }
        q:after{
            content: none;
        }
    }

    .instructions-right{
        flex: 1;
        margin: 2rem  2rem;

        video{
            background-image: url('../../../assets/images/woman-drinking-tea.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            position: relative;
        }
        .play-video{
           height: 100px;
           width: 100px;
           padding: 2rem;
           border-radius: 50%;
           border: 2px solid $white;
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           position: absolute;
           top: 25%;
           left: 60%;
        }
        .play-video:hover{
            transition: cubic-bezier(0.075, 0.82, 0.165, 1);
            cursor: pointer;
            background-color: aliceblue;
        }
        h5,h2{
            color: white;
            font-size: 1rem;
            line-height: 0;
            font-weight: 500;
        }
        h2{
           color: rgb(215, 224, 222); 
        }
    }
}